















/* debug */

.col-1 {
    /* background-color: blueviolet;
    border: 2px solid red;
    min-height: 50px; */
    text-align: center;
}


[class*="col-"] {
    background-color: rgb(32, 154, 247);
    border: 2px solid rgb(255, 255, 255);
    min-height: 50px;
}



.green {
    background-color: green;
}